<!-- Footer -->
<footer>
  <div class = "flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-evenly md:space-x-10">    
  </div> 
  <div class="relative md-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <div class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-evenly md:space-x-10">
        <nav class="hidden sm:flex space-x-10">
         
          <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">
            LinkedIn
          </a>
          <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">
            Github
          </a>
          <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">
            Resume
          </a>
        </nav>
      </div>
    </div>
  </div>
  </footer>
  