<header>
  <!-- This example requires Tailwind CSS v2.0+ -->
<meta name="google-site-verification" content="1d1wRZE_ZSyyKn04GfjLdabTbdrJ-vZ-JkzW_RqC-XM" />
<div class="relative md-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="#">
          <span class="sr-only">Web Developer Portfolio</span>
          <h2 class="text-base font-medium text-gray-500">Web Dev Portfolio</h2>
        </a>
      </div>
      <nav class=" sm:flex space-x-10">
       
        <a href="./#portfolio" class="text-base font-medium text-gray-500 hover:text-gray-900">
          Portfolio
        </a>
        <!-- ADD BUG REPORT BACKEND 
          
          <a href="#blog" class="text-base font-medium text-gray-500 hover:text-gray-900">
          Blog
          
        </a> -->
        <a href="./#contact" class="text-base font-medium text-gray-500 hover:text-gray-900">
          Contact
        </a>
    
      </nav>
    </div>
  </div>
</div>

  
 
</header>
