<div class = "bg-goldenrod ">
<div class=" mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
    <h2 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-5xl">
        <span class="block xl:inline">A little about me</span>
      </h2>
    <section class="text-gray-600 body-font">
      <div class="container px-2 py-2 mx-auto flex flex-col">
        <div class="lg:w-4/6 mx-auto">
          <div class="flex flex-col sm:flex-row mt-10">
            <div class="sm:w-3/4 text-left sm:pr-8 sm:py-8">
              <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Technical Designer</h2>
              <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
                <p class="text-base">  <!-- tabs and indentation -->
                  Junior developer with real world experiences in logistics, sales, and design. One of my favorite things to do on the computer is to present backend data through front end visuals in a meaningful way.
                  Im also interested in the utilization of technology with heavy industry to reduce workplace hazards, enhance training, and increase quality of life.
                  It is satisfying for me to work with clients, to discover their needs, and to provide for them solutions that excede expectations.
                  A few of the things I value in life are spending time with my family, taking small adventures in nature, collecting memorabila from noteable explorers, making things with tools, and practicing my faith through charity.
                  Im also known to stop at truck stops, arcades, and bars for no other reason than to play pinball. My favorite Pinball table is StarTrek or SouthPark.
                </p>
            </div>
            <div class="sm:w-1/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
              <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Current Build</h2>
              <p class="leading-relaxed text-lg mb-4">
                &#8226 JavaScript &#8226 Node.JS </br>
                &#8226 Express &#8226 Mongo DB  </br>
                &#8226 Tailwind CSS  &#8226 HTML </br>
                &#8226 GitHub &#8226 VS Code</br>
                &#8226 EJS  &#8226 AWS </br>
                </p>
                <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Previous Experience</h2>
                <p class="leading-relaxed text-lg mb-4">   
                &#8226 Java  &#8226 Spring  &#8226 MySQL </br>
                &#8226 Android &#8226 React</br>
                &#8226 React Native
              </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
    </div>
  </div>
