<!-- containter around this portfolio unit -->
<div class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
  <h2 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-5xl">
      <span class="block xl:inline" id="portfolio">Portfolio</span>
    </h2>
    <div class=" grid justify-items-center grid-flow-row md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
      <a href = "/projectone" class="transition-all ease-in-out duration-1000 flex flex-col justify-center mx-0 md:mx-2">
          <div class= "max-w-xs">                                     
              <div class="p-2 shadow-md m-1 mt-4 rounded-md"><img class="object-scale-down h-30 rounded-md" src="/img/dinocomplete.jpg" alt="Dinosaur Compare">
                  <div class="text-xs font-bold uppercase text-teal-700 mt-1 mb-2">Project</div>
                  <div class="text-xl font-bold mb-2">Dinosaur Compare</div>
                  <div>JavaScript and HTML</div>
              </div>
          </div>
        </a>
      <a href = "/projecttwo" class="transition-all ease-in-out duration-1000 flex flex-col justify-center mx-0 md:mx-2">
          <div  class="max-w-xs">
              <div class="p-2 shadow-md m-1 mt-4 rounded-md"><img class="object-scale-down h-30 rounded-md" src="/img/bloghome.jpg"  alt="Blog Site Clone">
                  <div class="text-xs font-bold uppercase text-teal-700 mt-1 mb-2">Project</div>
                  <div class="text-xl font-bold mb-2">Blog Site Clone</div>
                  <div>JavaScript, BootStrap, MongoDB, Express, and Node.js</div>
              </div>
          </div>
        </a>
      <a href = "/projectthree" class="transition-all ease-in-out duration-1000 flex flex-col justify-center mx-0 md:mx-2">
          <div  class="max-w-xs">
              <div class="p-2 shadow-md m-1 mt-4 rounded-md"><img class="object-scale-down h-30 rounded-md" src="/img/trufflehunter.JPG" alt="MineSweeper Game">
                  <div class="text-xs font-bold uppercase text-teal-700 mt-1 mb-2">Project</div>
                  <div class="text-xl font-bold mb-2">MineSweeper</div>
                  <div>Java, Java FX</div>
              </div>
          </div>
        </a>
      <a href = "/projectfour" class="transition-all ease-in-out duration-1000 flex flex-col justify-center mx-0 md:mx-2">
        <div  class="max-w-xs">
            <div class="p-2 shadow-md m-1 mt-4 rounded-md"><img class="object-scale-down h-30 rounded-md" src="/img/portfolioindex.JPG" alt="Portfolio Site">
                <div class="text-xs font-bold uppercase text-teal-700 mt-1 mb-2">Project</div>
                <div class="text-xl font-bold mb-2">Portfolio Website</div>
                <div> JavaScript, TailWinds CSS, Node.js, Express, EJS, MongoDb</div>
            </div>
        </div>
    </a>
  </div>
</div>

