<style type="text/css">
    .swiper {
      scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
    }
    .swiper > img {
      scroll-snap-align: start;
    }
  </style>
  <div class="flex flex-col items-center">
    <div class="flex flex-col items-center">
      <div class="swiper flex overflow-x-hidden w-1/2">
        <img class="w-full h-1/2 object-fill bg-gray-300" src="/img/trufflehunter.jpg" id="slide1">
      </div>
    </div>
    <div class="flex mt-4">
      <a href="#slide1" class="w-4 h-4 mx-1 bg-gray-400 rounded-full"></a>
    </div>
    <div class="flex flex-col items-center w-1/2">
    <p >
   Truffle Hunter made in Java is a minesweeper clone in partnership with classmate as an assignment. We incorporated a GUI and developed our own Algorithm to run the game.
   Will incorporate a new Minesweeper version made in JavaScript, to be updated.  
    </p>
    </div>
  </div>