<style type="text/css">
    .swiper {
      scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
    }
    .swiper > img {
      scroll-snap-align: start;
    }
  </style>
  <div class="flex flex-col items-center">
    <div class="flex flex-col items-center">
      <div class="swiper flex overflow-x-hidden w-1/2">
        <img class="w-full h-1/2 object-fill bg-gray-300" src="/img/portfolioindex.jpg" id="slide1">
      </div>
    </div>
    <div class="flex mt-4">
      <a href="#slide1" class="w-4 h-4 mx-1 bg-gray-400 rounded-full"></a>
    </div>
    <div class="flex flex-col items-center w-1/2">
    <p >
    This Portfolio website has been made on an Express Server using Node.js and JavaScript. EJS view templates are utilized to render each individual page using HTML and TailWind CSS a component based CSS template. It has been hosted on its own domain on an AWS server. This is a minimal viable product. 
    There are future plans to add an admin backend enabling me to store new portfolio entries as objects and add to the portfolio without accessing the server backend. There will be added a blog section 
    to write about various web development topics. Finally, a bug reporting section demonstrating my ability as a junior full stack developer.   
    </p>
    </div>
  </div>